[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Spark training material
[access "refs/*"]
	owner = group user/vishnoiashish
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/vishnoiashish
	label-Verified = -1..+1 group user/vishnoiashish
	push = group user/vishnoiashish
	read = group user/vishnoiashish
	rebase = group user/vishnoiashish
	removeReviewer = group user/vishnoiashish
	submit = group user/vishnoiashish
[access "refs/heads/*"]
	create = group user/vishnoiashish
	push = +force group user/vishnoiashish
	pushMerge = group user/vishnoiashish
	read = group user/vishnoiashish
[access "refs/tags/*"]
	push = group user/vishnoiashish
	push = +force group user/vishnoiashish
